
del {
    color:silver;
}


.word-keep{
    display: inline-block;
    word-break: keep-all;
}

.current_tag a {
    margin: 2px;
    background-color: #e6e6e6;
    border-radius: 2px;
    
    color: blue;
}