<!-- Navigation -->
<nav>
    <div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div>
            <ul>
                <li>
                    <a href="#">전체 ({{site.posts | size}})</a>
                </li>
                {% for tag in site.tags %}
                <li><a href="/tags/#{{ tag | first | replace:'#','sharp' | replace:'.net','dotnet' }}">{{ tag | first }} (<span>{{ tag | last | size }}</span>)</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
