---
layout: page
title: Tag
permalink: /tags/
icon: octicon-tag
styles: [tags.css]
scripts: [tags.js]
header-img: "img/contact-bg.jpg"
---

<div id="tags">
{% for tag in site.tags %}
<section id="{{ tag | first | replace:'#','sharp' | replace:'.net','dotnet' }}">
    <h2>{{ tag | first }}</h2>
    <ul>
        {% for posts in tag  %}{% for post in posts %}{% if post.title != null %}
        <li itemscope><span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_string }}</time></span> &raquo; <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></li>
        {% endif %}{% endfor %}{% endfor %}
    </ul>
</section>
{% endfor %}
</div>
